<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="mStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=pranavracachedemo2;AccountKey=p2KW/vXV1+FSrZEHywdX6JZq1QqH8HJb1cHj39YfToApBxZTlVvI9aMODjLEk3Bv7CPQjLkeqR6Pw7sc0HdApg=="/>
    <add key="mCacheUrl" value="pranavracachedemo1.redis.cache.windows.net"/>
    <add key="mCachePassword" value="zvwaNabayb2bhOJ0tRxSRYWLZIfVAqzvknXs6u0ziYU="/>
    <add key="mCacheUrl2" value="pranavracachedemo2.redis.cache.windows.net"/>
    <add key="mCachePassword2" value="8v6pY8kWKym+NnwBQ+28/hGxW+MDZzJ6LLkFjEnU2uI="/>
  </appSettings>
</configuration>