<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="mStorageConnectionString" value=""/>
    <add key="mCacheUrl" value=""/>
    <add key="mCachePassword" value=""/>
    <add key="mCacheUrl2" value=""/>
    <add key="mCachePassword2" value=""/>
  </appSettings>
</configuration>
